body {
  padding: 2rem;
  height: 100vh;
  
  background-color: #000;
  font-family: $font-main;
  color: #fff;
}

.search-section{
  margin-bottom: 20px;
}

.input-search{
  width: 500px;
  height: 40px;
  border: 3px solid #5FC2B5;
  margin-top: 15px
}

.button{
  width: 100px;
  height: 40px;
  color: white;
  background-color: #5FC2B5;
  border: none;
  border-radius: 5px;


}

.film-img{
  width: 225px;
  height: 314px;
  
}

.sections-container{
  display: flex;
  width: 100%;
}

.hidden{
  display: none;
}

.movies-container{
  display: flex;
  flex-wrap: wrap;
}

.film-container{
  width: 231px;
  margin:10px;
  text-align: center;
  
}

.favorites-section{
  background-color: rgb(36, 36, 36);
 

}

.film-section{
  background-color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  border: 5px solid #fff;
  border-radius: 5px;
  margin-left: 10px;
  min-width: 72%;
}

.favorites-section{
  background-color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  border: 5px solid #F2B9C2;
  border-radius: 5px;
}

.film-selected{
  border: 3px solid #5FC2B5;
  color: #5FC2B5;
}

.principal-title{
  color: #7CFBFD;
}

.result-title{
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
}

.favorites-title{
  background-color: #F2B9C2;
  color: #000;
  text-align: center;
  padding: 5px 0;
}