html {
  height: 100%;
}
body {
  padding: 2rem;
  height: 100vh;
  background: rgb(2,48,71);
  background: linear-gradient(180deg, rgba(2,48,71,1) 0%, rgba(33,158,188,1) 100%);
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.search-section{
  margin-bottom: 20px;
}

.input-search{
  width: 500px;
  height: 40px;
  border: 0;
  margin-top: 15px;
  padding: 10px;
  border-radius: 0px;
}

.button{
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: #8ecae6;
  border: none;
  border-radius: 00px;
  margin-left: 10px;
  cursor: pointer;
}

.film-title{
  color: #023047;

}
.film-img{
  width: 219px;
  height: 314px;
}

.sections-container{
  display: flex;
  width: 100%;
}

.hidden{
  display: none;
}

.movies-container{
  display: flex;
  flex-wrap: wrap;
}

.film-container{
  width: 231px;
  margin:10px;
  text-align: center;
}

.favorites-section{
  background-color: rgb(36, 36, 36);
 

}

.film-section{
  background-color: #219ebc;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 10px;
  min-width: 50%;
}

.favorites-section{
  background-color: #fb8500;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  min-width: 250px;
}

.film-selected{
  border: 6px solid #fb8500;
  color: #fb8500;
  border-radius: 10px;
}

.principal-title{
  color: #fb8500;
  font-family: "Madimi One", sans-serif;
  font-size: 50px;
}

.result-title{
  background-color: #8ecae6;
  color: #023047;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px 5px 0px 0px;
  
}

.favorites-title{
  background-color: #ffb703;
  color: #023047;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.delete-favs-list{
  width: 87%;
  height: 40px;
  color: #fff;
  background-color: #023047;
  border: none;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;

}