<main class="page__main">
  <section class="search-section">
    <h1>Buscador de Series Anime</h1>
    <input type="text" class="input-search js-input-search" id="" placeholder="Introduce nombre de serie a buscar">
    <button class="button searc-button js-search-button">Buscar</button>
    <button class="button reset-button js-reset-button">Reset</button>
  </section>
  <div class="sections-container">
    <section class="favorites-section">
      <h2 class="favorites-title">Series Favoritas</h2>
      <!---->
      <div class="favorite-film-container">
        <img class="film-img"
          src="https://m.media-amazon.com/images/M/MV5BZmQ5NGFiNWEtMmMyMC00MDdiLTg4YjktOGY5Yzc2MDUxMTE1XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_FMjpg_UX1000_.jpg"
          alt="Naruto">
        <h3 class="film-title">Naruto: Shippuuden</h3>
        <i class="fa-solid fa-circle-xmark cross-icon"></i>
      </div>
      <!---->
    </section>
    <section class="film-section js-film-section">
      <h2 class="favorites-title">Resultados</h2>
      <div class="movies-container js-movies-container">
        <!-- <div class="film-container">
          <img class="film-img"
            src="https://m.media-amazon.com/images/M/MV5BZmQ5NGFiNWEtMmMyMC00MDdiLTg4YjktOGY5Yzc2MDUxMTE1XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_FMjpg_UX1000_.jpg"
            alt="Naruto">
          <h3 class="film-title">Naruto: Shippuuden</h3>
          <i class="fa-solid fa-circle-xmark cross-icon"></i>
        </div> -->
      </div>
    </section>
  </div>
</main>